/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: black;
  color: white;
}

p{
  font-size: 20px;
  font-family: "Georgia", Times, serif;
}

h4{
  color:white;
  font-weight: bold;
  font-size: 2em;
}

.navbar-default {
    color: white !important;
    background-color: black;
    border: none;
    border-bottom: 3px solid white;
    border-radius: 0px;
}


.navbar-brand{
  color: white !important;
  font-weight: bold;
}

.navbar-default .navbar-brand{
  color: white !important;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: black;
}

.container .text-muted {
  margin: 20px 0;
}

/* Thumbnail styles */
.thumbnail img {
    width: 100%;
}

.thumbnail-background{
    margin: 20px;
    border: 3px solid white;
    /* filter: grayscale(100%);*/
    border-radius: 15px;
    min-height: 300px;
    background-image: url("https://cdn-images-1.medium.com/max/1600/0*wN5ZfViulNrCZe0f.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
}

.thumbnail-color{
    background: rgba(0, 0, 0, 0.5);
    /* filter: grayscale(100%);*/
    border-radius: 15px;
    padding: 10px;
    min-height: 300px;
}

.thumbnail {
    filter: none !important;
    text-align: left;
    background: none;
    border: none;
    padding: 10px;
    min-height: 300px;
}

.thumbnail .caption-full {
    padding: 0px;
}